/*home page */
#home {
    background-color: #f7f3f3;
}


/* categories component */
#categories {
    padding: 10px 0px;
    padding-bottom: 100px;
}

#categories .category-header {
    text-align: center;
    font-size: var(--font-size-lg);
    background-color: rgba(0, 0, 0, 0.03);
    padding: 5px 0px;
    margin: 25px 0px;
}
#categories .category-header h2{
    font-weight: 400;
    letter-spacing: 5px;
}
#categories .categories-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* category-item */
.categories-wrapper .category-item {
    width: calc((100% - 15px) / 2);
    border-radius: 10px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    overflow: hidden;
    background-color: white;
}

.category-item .category-image {
    width: 100%;
    height: 140px;
    overflow: hidden;
}

.category-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.category-image:hover img {
    transform: scale(1.2);
}

.category-item .category-info {
    padding: 20px;
    text-align: center;
}

.category-item .category-info .category-info-name {
    font-size: var(--font-size-md);
}

.category-item .category-info .category-get-btn {
    padding: 8px 20px;
    margin-top: 25px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 12px;
}

@media screen and (min-width: 584px) {}



@media screen and (min-width: 768px) {
    .categories-wrapper .category-item {
        max-width: calc((100% - 30px) / 3);
    }
}

@media screen and (min-width: 992px) {
    .categories-wrapper .category-item {
        max-width: calc((100% - 45px) / 4);
    }
}